@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/* line 1, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
* {
  box-sizing: border-box;
}

/* line 5, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
html, body {
  height: 100%;
}

/* line 9, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
header, nav, footer, aside, section, article {
  display: block;
  padding: 0;
  margin: 0;
}

/* line 15, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
body, form, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

/* line 20, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 700;
}

/* line 25, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
a {
  color: #666;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: color .3s,background .3s;
  transition: color .3s,background .3s;
}

/* line 33, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
a:hover {
  color: #000;
  text-decoration: none;
}

/* line 38, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
a:active, a:focus, input:active, input:focus {
  outline: 0;
}

/* line 42, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
img {
  border: none;
  max-width: 100%;
  height: auto;
}

/* line 48, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
label {
  display: block;
}

/* line 52, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 58, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
input[type=radio], input[type=checkbox] {
  vertical-align: -2px;
}

/* line 62, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
.clearfix:before, .clearfix:after, .container:before, .container:after {
  content: "";
  display: table;
}

/* line 67, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
.clearfix:after, .container:after {
  clear: both;
}

/* line 71, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_reset.scss */
.clearfix {
  zoom: 1;
}

/* line 3, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_base.scss */
body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #555;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 15, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/base/_base.scss */
.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 20px;
  zoom: 1;
}

/* line 1, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_header.scss */
.header {
  padding: 20px 0;
}

/* line 5, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_header.scss */
.header .logo {
  float: left;
  height: 40px;
  line-height: 40px;
}

/* line 10, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_header.scss */
.header .logo a {
  color: #002e5b;
  font-weight: 700;
}

/* line 16, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_header.scss */
.header .sign-in {
  float: right;
}

/* line 4, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_banner.scss */
#banner {
  background: url("../images/bg-image.jpg") no-repeat;
  background-size: cover;
  padding: 70px 0;
  text-align: center;
}

/* line 10, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_banner.scss */
#banner h2 {
  color: #fff;
  font-size: 2.85em;
  line-height: 1.1em;
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-bottom: 10px;
}

/* line 19, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_banner.scss */
#banner p {
  color: #fff;
  margin-bottom: 25px;
}

/* line 25, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_banner.scss */
#banner .search-form input {
  border: 1px solid #ebebeb;
  color: #999;
  padding: 0 15px;
  letter-spacing: 1px;
  line-height: 1;
  height: 40px;
  width: 80%;
  text-align: center;
  outline: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

@media all and (min-width: 768px) {
  /* line 25, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_banner.scss */
  #banner .search-form input {
    width: 60%;
  }
}

/* line 1, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video {
  background: #f5f5f5;
  text-align: center;
  padding: 50px 0;
}

/* line 7, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .row {
  margin: 0 -25px;
}

/* line 11, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .col {
  display: inline-block;
  padding: 0 25px;
  margin-bottom: 35px;
}

/* line 17, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .videobox {
  background: #fff;
  border: 1px solid #eee;
  text-align: left;
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  transition: all linear 300ms;
}

/* line 24, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .videobox video {
  cursor: pointer;
}

/* line 28, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .videobox h5 {
  padding: 12px;
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  transition: all linear 300ms;
}

/* line 33, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .videobox h5:hover {
  color: #002e5b;
}

/* line 38, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_content.scss */
#video .videobox:hover {
  border-bottom: 1px solid #002e5b;
}

/* line 1, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/layout/_footer.scss */
.footer {
  background: #002e5b;
  border-top: 1px solid #ececec;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

/* line 1, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/modules/_button.scss */
.btn {
  background: #fde428;
  color: #343434;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  transition: all linear 300ms;
}

/* line 12, C:/USBWebserver v8.6/root/video_portal_api-master211/sass/modules/_button.scss */
.btn:hover {
  color: #fff;
  background: #002e5b;
}

/*@import 'layout/_typography.scss';*/

/*# sourceMappingURL=../css/style.map */